/* Error: $channels: Expected red channel to be a number, was rgb(65, 220, 251).
 *    ,
 * 17 | rgb(240, 208, 255) 7%, rgb(225, 206, 255) 47%, rgb(rgb(65, 220, 251)) 77%, rgb(241, 163, 171) 100%);
 *    |                                                ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   Sass/abstracts/_variables.scss 17:48  @import
 *   Sass/main.scss 3:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $channels: Expected red channel to be a number, was rgb(65, 220, 251).\a    \2577 \a 17 \2502  rgb(240, 208, 255) 7%, rgb(225, 206, 255) 47%, rgb(rgb(65, 220, 251)) 77%, rgb(241, 163, 171) 100%);\a    \2502                                                 ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   Sass/abstracts/_variables.scss 17:48  @import\a   Sass/main.scss 3:9                    root stylesheet";
}
