@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("./Fonts/Bicubik.woff");
@font-face {
  font-family: "Giliams Regular";
  font-style: normal;
  font-weight: bold;
  src: local("Giliams Regular"), url("../Fonts/Giliams-Regular.woff") format("woff");
}
@font-face {
  font-family: "Raindrops";
  src: local("Raindrops"), url(../Fonts/Raindrops.ttf) format("truetype");
}
@font-face {
  font-family: "League Spartan", sans-serif;
  src: local("League Spartan"), url(../Fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Cansu-light", serif;
  src: local("Cansu"), url(../Fonts/Cansu_Sans_Serif_Font_Family_Dfonts.org/TTF/Cansu-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Cansu-Regular", serif;
  src: local("Cansu"), url(Fonts/Cansu_Sans_Serif_Font_Family_Dfonts.org/TTF/Cansu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Cansu-Bold", serif;
  src: local("Cansu"), url(Fonts/Cansu_Sans_Serif_Font_Family_Dfonts.org/TTF/Cansu-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  src: local("Orbitron"), url(../Fonts/Orbitron/static/Orbitron-VariableFont_wght.ttf) format("truetype");
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 52.6%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  background-color: transparent;
  position: relative;
}

.img-container img {
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo {
  letter-spacing: 7px;
  font-family: "Sacred-Valley";
  font-weight: 200;
  font-size: 2.08rem;
  text-transform: uppercase;
  color: #413042;
}

.heading-primary {
  padding-bottom: 0;
  line-height: 1.2;
}
@media (max-width: 37.5em) {
  .heading-primary {
    width: 100%;
    text-align: center;
    line-height: 1.4;
    top: 0;
  }
}
.heading-primary-icon {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #363636;
  text-shadow: 1px 1px 2px white;
  font-style: normal;
  font-weight: 400;
  transform: scale(0.75);
}
@media (max-width: 75em) {
  .heading-primary-icon {
    transform: scale(0.85);
  }
}
@media (max-width: 56.25em) {
  .heading-primary-icon {
    transform: scale(0.75);
  }
}
@media (max-width: 45.6em) {
  .heading-primary-icon {
    transform: scale(0.9);
  }
}
.heading-primary-icon:link, .heading-primary-icon:visited {
  text-decoration: none;
  transition: all 0.3s;
}
.heading-primary-icon:hover {
  transform: translateY(0);
  transform: scale(1.1);
  font-weight: 600;
}
.heading-primary-icon:active {
  transform: translateY(1px);
}
.heading-primary--q1 {
  font-size: 2.4rem;
  color: #413042;
  padding-top: 25%;
  padding-bottom: 1.5rem;
  text-align: center;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: "Orbitron";
  z-index: 1000;
}
@media (min-width: 112.5em) {
  .heading-primary--q1 {
    width: 24%;
    padding-top: 0;
    font-size: 2.4rem;
  }
}
@media (max-width: 75em) {
  .heading-primary--q1 {
    width: 45%;
    padding-top: 0;
    font-size: 3rem;
  }
}
@media (max-width: 56.25em) {
  .heading-primary--q1 {
    padding-top: 0;
    line-height: 1;
    font-size: 3rem;
    width: 55%;
    text-align: center;
  }
}
@media (max-width: 45.6em) {
  .heading-primary--q1 {
    padding-top: 0;
    line-height: 1;
    font-size: 3rem;
    width: 55%;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--q1 {
    font-size: 3rem;
    width: 80%;
    line-height: 1.2;
    text-align: center;
    padding-top: 0;
    align-self: center;
  }
}
.heading-primary--q2 {
  font-family: "Cansu-light";
  font-size: 1.4rem;
  z-index: 1000;
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #413042;
  font-weight: lighter;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
}
@media (min-width: 112.5em) {
  .heading-primary--q2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 75em) {
  .heading-primary--q2 {
    font-size: 1.4rem;
    max-width: 40%;
  }
}
@media (max-width: 56.25em) {
  .heading-primary--q2 {
    padding-top: 20rem;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    padding-top: 0;
    max-width: 35%;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--q2 {
    font-size: 1.6rem;
    min-width: 80%;
    padding-top: 0;
    line-height: 1.2;
  }
}

.heading-sub {
  width: 15%;
  display: grid;
  padding: 2rem;
  background-color: rgb(252, 250, 241);
  justify-content: center;
  bottom: 0;
  right: 0;
  position: absolute;
  color: #2a4545;
}
@media (max-width: 37.5em) {
  .heading-sub {
    right: 10%;
  }
}
.heading-sub--q6 {
  display: inline-block;
  font-family: "Gill Sans", cursive;
  font-weight: 500;
  font-size: 1.4rem;
  font-style: italic;
  padding: 0.5rem;
  letter-spacing: 1.1px;
}
@media (min-width: 112.5em) {
  .heading-sub--q6 {
    font-size: 3rem;
  }
}

#title {
  font-size: 2.4rem;
  white-space: nowrap;
  font-weight: 500;
  font-family: "Sacred Valley", serif;
  color: #2a4545;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.8px;
}
@media (max-width: 56.25em) {
  #title {
    font-size: 3rem;
  }
}
@media (max-width: 45.6em) {
  #title {
    font-size: 4.4rem;
  }
}
#title_sub {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-family: "Cansu-light";
  color: #2a4545;
  font-size: 1.4rem;
}
@media (max-width: 45.6em) {
  #title_sub {
    font-size: 1.6rem;
  }
}

.heading-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
@media (min-width: 112.5em) {
  .heading-title {
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .heading-title {
    width: 100%;
    align-content: center;
    padding: 0;
    flex-direction: column;
  }
}

.section-bio__text, .section-bio__img {
  justify-items: stretch;
  font-size: 1.4rem;
}
.section-bio__span1 {
  padding: 4rem 1rem;
  color: #2a4545;
  align-self: center;
  justify-self: center;
  font-family: "Cansu-light";
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 100%;
  text-align: justify;
  text-shadow: 1px 1px 2px white;
}
@media (max-width: 75em) {
  .section-bio__span1 {
    padding: 4rem 1rem;
  }
}
@media (max-width: 56.25em) {
  .section-bio__span1 {
    padding: 4rem 1rem;
    line-height: 1.2;
    width: 65%;
  }
}
@media (max-width: 45.6em) {
  .section-bio__span1 {
    padding: 1rem;
    font-size: 1.6rem;
    width: 84%;
  }
}
@media (max-width: 37.5em) {
  .section-bio__span1 {
    width: 84%;
    line-height: 1.3;
  }
}
.section-bio__span2 {
  color: #413042;
  padding: 0 1rem;
  align-self: center;
  justify-self: center;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px white;
  font-family: "Orbitron";
  text-transform: uppercase;
  width: 100%;
  text-align: right;
}
@media (min-width: 112.5em) {
  .section-bio__span2 {
    width: 100%;
    font-size: 2.4rem;
  }
}
@media (max-width: 75em) {
  .section-bio__span2 {
    width: 100%;
    font-size: 2.4rem;
  }
}
@media (max-width: 56.25em) {
  .section-bio__span2 {
    width: 70%;
    margin-top: 5rem;
  }
}
@media (max-width: 45.6em) {
  .section-bio__span2 {
    width: 95%;
    margin-top: 4rem;
    font-size: 2.4rem;
  }
}
.section-bio__span3 {
  padding: 0.4rem;
  align-self: center;
  justify-self: center;
  color: #2a4545;
  text-shadow: 1px 1px 2px white;
  font-family: "Cansu-light";
  letter-spacing: 1px;
  font-size: 1.4rem;
  flex-basis: 51%;
  text-align: center;
}
@media (max-width: 56.25em) {
  .section-bio__span3 {
    padding: 0.5rem 4rem;
    line-height: 1.2;
    flex-basis: 55%;
  }
}
@media (max-width: 45.6em) {
  .section-bio__span3 {
    font-size: 1.6rem;
    flex-basis: 65%;
    text-align: left;
  }
}
@media (max-width: 37.5em) {
  .section-bio__span3 {
    line-height: 1.3;
    flex-basis: 100%;
  }
}
.section-bio__p {
  font-family: "Roboto", sans-serif;
  padding-top: 0;
  letter-spacing: 1px;
  color: hsl(0, 24%, 32%);
}
.section-bio__title {
  display: block;
  font-size: 2.4rem;
  color: #363636;
  font-family: "Sacred Valley", serif;
  letter-spacing: 0;
  font-weight: 400;
  padding-top: 0;
  text-align: right;
  text-transform: uppercase;
  z-index: 10;
  position: relative;
}
@media (min-width: 112.5em) {
  .section-bio__title {
    font-size: 2.4rem;
  }
}
@media (max-width: 56.25em) {
  .section-bio__title {
    padding-left: 2rem;
  }
}
@media (max-width: 45.6em) {
  .section-bio__title {
    margin-bottom: 1rem;
    padding-left: 1rem;
    text-align: center;
    font-size: 2.4rem;
  }
}

.panel {
  font-size: 2rem;
}

.section-news__title {
  line-height: 1.2;
  color: #fcfbfe;
  font-size: 2.4rem;
  margin: 0;
  letter-spacing: 0;
  font-family: "Giliams Regular";
  font-weight: 300;
}
@media (max-width: 45.6em) {
  .section-news__title {
    font-size: 3rem;
  }
}

.section-lessons-title {
  margin-bottom: 0;
  text-align: center;
  color: #363636;
  font-family: "Giliams Regular";
  letter-spacing: 0;
}
@media (min-width: 112.5em) {
  .section-lessons-title {
    margin: 0 auto;
  }
}
@media (max-width: 45.6em) {
  .section-lessons-title {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-size: 3rem;
  }
}
.section-lessons-sub {
  color: hsl(248, 40%, 36%);
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  font-size: 2.08rem;
}
@media (min-width: 112.5em) {
  .section-lessons-sub {
    padding-left: 10%;
    width: 100%;
    font-size: 2.08rem;
  }
}
@media (max-width: 75em) {
  .section-lessons-sub {
    padding-top: 5rem;
    font-size: 2.08rem;
  }
}
@media (max-width: 56.25em) {
  .section-lessons-sub {
    font-size: 2.08rem;
  }
}
@media (max-width: 45.6em) {
  .section-lessons-sub {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .section-lessons-sub {
    font-size: 2.4rem;
  }
}
.section-lessons-sub__p p {
  display: inline-block;
  width: 80%;
  font-family: "Cansu-Light";
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #2a4545;
  line-height: 1.3;
  text-align: left;
}
@media (min-width: 112.5em) {
  .section-lessons-sub__p p {
    font-size: 2.08rem;
    width: 60%;
  }
}
@media (max-width: 56.25em) {
  .section-lessons-sub__p p {
    width: 75%;
  }
}

.title__form {
  font-family: "Cansu-rounded", sans-serif;
  color: #363636;
  font-size: 2.08rem;
  font-weight: 400;
  margin: 0.5rem;
}
@media (min-width: 112.5em) {
  .title__form {
    font-size: 2.4rem;
  }
}
@media (max-width: 56.25em) {
  .title__form {
    font-size: 2.4rem;
  }
}
@media (max-width: 37.5em) {
  .title__form {
    font-size: 2.4rem;
  }
}

.ul-adjust-circle {
  color: white;
}

.icon_rocket {
  margin: 0 auto;
  background-image: url("../Img/rocket.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1000;
}
@media (max-width: 45.6em) {
  .icon_rocket {
    height: 3rem;
    margin-bottom: 2rem;
  }
}

.age_icon {
  margin: 0 auto;
  background-image: url("../Img/age_icon.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: 10%;
  height: 3rem;
  float: right;
  margin-right: 3rem;
}
@media (max-width: 75em) {
  .age_icon {
    height: 3rem;
  }
}

.carousel-caption h1 {
  font-family: "Orbitron", serif;
  margin-bottom: 0;
  font-size: 4.4rem !important;
  color: #413042;
  text-shadow: 1px 1px 2px white;
}
.carousel-caption p {
  font-family: "Cansu-raunded", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.3rem;
  margin-bottom: 0;
}
.carousel-caption span {
  font-family: "Orbitron", serif;
  text-transform: uppercase;
  font-size: 2.08rem;
  color: #2a4545;
}

.section-expertise__title {
  color: #413042;
  text-align: center;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px white;
  font-family: "Orbitron", serif;
  text-transform: uppercase;
  font-size: 2.4rem;
}
@media (max-width: 56.25em) {
  .section-expertise__title {
    width: 75%;
    font-size: 2.4rem;
    width: 55%;
    text-align: center;
  }
}
@media (max-width: 45.6em) {
  .section-expertise__title {
    width: 55%;
  }
}
@media (max-width: 37.5em) {
  .section-expertise__title {
    width: 80%;
  }
}

.section-QA_title {
  color: #413042;
  font-size: 1.6rem;
  margin: 4rem auto 2rem auto;
  font-family: "Cansu-light";
  text-transform: uppercase;
  width: 30%;
  text-align: center;
}
@media (max-width: 75em) {
  .section-QA_title {
    font-family: "Cansu-light";
  }
}
@media (max-width: 56.25em) {
  .section-QA_title {
    font-size: 2.4rem;
    width: 65%;
  }
}
@media (max-width: 45.6em) {
  .section-QA_title {
    width: 50%;
    margin: 2rem auto 2rem auto;
  }
}
.section-QA__span1 {
  padding: 2rem 5rem;
  align-self: center;
  justify-self: center;
  color: #2a4545;
  text-shadow: 1px 1px 2px white;
  font-family: "Cansu-light";
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 65%;
}
@media (max-width: 56.25em) {
  .section-QA__span1 {
    padding: 2rem 1rem;
    font-size: 1.4rem;
    padding: 0.5rem 4rem;
    line-height: 1.2;
    width: 65%;
    text-align: justify;
  }
}
@media (max-width: 45.6em) {
  .section-QA__span1 {
    font-size: 1.6rem;
    width: 75%;
  }
}
@media (max-width: 37.5em) {
  .section-QA__span1 {
    width: 100%;
    line-height: 1.3;
  }
}

.section-contact_title {
  margin: 0 auto;
  font-size: 2.4rem;
  color: #413042;
  text-shadow: 1px 1px 2px white;
  font-family: "Orbitron";
  text-transform: uppercase;
  text-align: center;
  width: 50%;
}
@media (max-width: 56.25em) {
  .section-contact_title {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .section-contact_title {
    width: 90%;
  }
}

.container {
  width: 100%;
}
@media (max-width: 45.6em) {
  .container {
    width: 100vw;
  }
}

.row {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

.u-top-5 {
  margin-top: 5rem;
}

.u-top-10 {
  padding-top: 10rem;
}
@media (max-width: 45.6em) {
  .u-top-10 {
    padding-top: 3rem;
  }
}

.flex-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 45.6em) {
  .flex-container {
    align-content: space-between;
  }
}

.flex-item {
  padding: 0;
  margin: 0;
}
@media (max-width: 56.25em) {
  .flex-item {
    margin-top: 2rem;
  }
}
@media (max-width: 37.5em) {
  .flex-item {
    padding: 0 0.6rem;
  }
}

.padding-top {
  padding-top: 6rem;
}
@media (max-width: 56.25em) {
  .padding-top {
    padding-top: 3rem;
  }
}

.padding-bottom {
  padding-bottom: 7rem;
}

.italic {
  font-style: italic;
}

.grid {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.u-center {
  margin: 0 auto;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-2 {
  margin-bottom: 2.3rem;
}

header {
  width: 100%;
  z-index: 150;
  position: fixed;
  background-color: transparent;
}
header.active {
  background-color: transparent;
}
@media (max-width: 45.6em) {
  header {
    bottom: 0;
  }
}

a {
  text-decoration: none;
  margin: 0 10px;
  height: 70%;
}

.nav {
  background-color: transparent;
  font-family: "Cansu-raunded", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 3rem;
}
.nav__logo__img {
  display: none;
  height: inherit;
  margin-top: 0;
  padding: 0;
}
.nav__toggle {
  cursor: pointer;
}
.nav__iconbox {
  opacity: 0.95;
  display: inline-block;
  width: 8rem;
}
.nav__iconbox-social {
  width: 4rem;
  height: 3rem;
}
.nav__btns {
  padding-right: 1rem;
}
.nav__close {
  position: absolute;
  right: 2rem;
  bottom: 2.5rem;
  cursor: pointer;
}
.nav__close:hover {
  color: hsl(285, 58%, 23%);
}
.nav__iconbox:hover {
  opacity: 1;
}
.nav__ul {
  width: 45%;
  margin: 0 auto;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1rem;
  padding: 0;
}
@media (max-width: 75em) {
  .nav__ul {
    width: 80%;
  }
}
@media (max-width: 56.25em) {
  .nav__ul {
    width: 68%;
  }
}
@media (max-width: 45.6em) {
  .nav__ul {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    display: grid;
    width: 80%;
    justify-content: flex-start;
  }
}
@media (max-width: 37.5em) {
  .nav__ul {
    grid-template-columns: repeat(5, 50px);
    width: auto;
    justify-content: space-evenly;
  }
}
.nav__li {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 400;
}
@media (max-width: 75em) {
  .nav__li {
    justify-content: center;
  }
}
.nav__li a {
  display: inline-flex;
  max-width: 7rem;
  text-align: left;
  text-decoration: none;
  margin: 0;
}
@media (max-width: 45.6em) {
  .nav__li a {
    text-align: center;
  }
}
.nav__li a span, .nav__li span {
  font-family: "Cansu-raunded", sans-serif;
  display: contents;
  color: #2a4545;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 56.25em) {
  .nav__li a span, .nav__li span {
    font-size: 1.3rem;
  }
}
.nav__li a:hover span {
  color: #af4665;
}
.nav__li a span:nth-child(even) {
  overflow: hidden;
  transition: ease-in-out 0.5s;
  color: #fcfbfe;
  letter-spacing: -1em;
}
.nav__li a:hover span:nth-child(even) {
  letter-spacing: 2px;
  color: #fcfbfe;
}
@media (max-width: 45.6em) {
  .nav__li a:hover span:nth-child(even) {
    color: #413042;
  }
}
.nav__li a:hover span:nth-child(2) {
  transition-delay: 0;
}
.nav__li a:hover span:nth-child(4) {
  transition-delay: 0.5s;
}
.nav__li a:hover span:nth-child(6) {
  transition-delay: 1s;
}
.nav__li a:hover span:nth-child(8) {
  transition-delay: 1.5s;
}
.nav__icon, .nav__close, .nav__toggle {
  display: none;
  font-size: 2.5rem;
}
.nav__menu {
  width: 100%;
}
@media (max-width: 75em) {
  .nav {
    background-color: transparent;
  }
}
@media (max-width: 45.6em) {
  .nav {
    justify-content: space-between;
    max-width: 100% !important;
    margin: 0;
    height: 9rem;
  }
  .nav__menu {
    width: 100%;
    margin: auto;
    position: fixed !important;
    bottom: -180px;
    padding: 2rem 1.5rem 2rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.186);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
    background-color: #f8f8f8;
  }
}
@media (max-width: 45.6em) and (max-width: 56.25em) {
  .nav__menu {
    height: 10%;
  }
}
@media (max-width: 45.6em) {
  .nav__icon, .nav__close, .nav__toggle {
    display: contents;
    color: #363636;
  }
}

.show-menu {
  bottom: 0;
  background-color: transparent;
}
@media (max-width: 56.25em) {
  .show-menu {
    background-color: #f8f8f8;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  bottom: 90px;
  margin-right: 3rem;
}
@media (max-width: 56.25em) {
  .navigation {
    margin: 0 10px;
  }
}
.action-btn {
  border: 0;
  color: #af4665;
  -webkit-text-stroke: 1px hsl(60, 11%, 91%);
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
  padding: 0 10px;
  margin: 0 15px;
}
@media (max-width: 56.25em) {
  .action-btn {
    margin: 0 20px;
  }
}
@media (max-width: 45.6em) {
  .action-btn {
    margin: 0 20px;
  }
}
@media (max-width: 37.5em) {
  .action-btn {
    margin: 0 10px;
    font-size: 4.4rem;
  }
}

.action-btn-big {
  width: 7rem;
  height: 7rem;
  color: #af4665;
  -webkit-text-stroke: 1px hsl(60, 11%, 91%);
  background-color: transparent;
  font-size: 4rem;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
@media (max-width: 45.6em) {
  .action-btn-big {
    height: 10rem;
    font-size: 5rem;
  }
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  border-radius: 15px 15px 0 0;
  position: absolute;
  bottom: 166px;
  width: 50%;
  padding: 0;
  z-index: 10;
  margin: 0 auto;
  transform: translate(0, 0);
  transition: transform 0.3s ease-in opacity 0.3s ease-in;
}
@media (max-width: 56.25em) {
  .music-info {
    transform: translate(0, 30%);
  }
}
@media (max-width: 45.6em) {
  .music-info {
    transform: translate(0, -15%);
    width: 70%;
  }
}

.music-info h4 {
  margin: 0;
}

.music-container.play .music-info {
  opacity: 1;
}

.music-container.play .img-container img {
  visibility: visible;
}

.music-container.play .img-container {
  visibility: visible;
}

.progress-container {
  background: #ffa399;
  border-radius: 5px;
  cursor: pointer;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 45.6em) {
  .progress-container {
    height: 1.3px;
  }
}

.progress-player {
  background-color: hsl(285, 58%, 23%);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.uil-heart-alt {
  font-size: 2.5rem;
  color: #363636;
}

@media (max-width: 37.5em) {
  .container, .container-sm {
    max-width: 100% !important;
    background-color: hsl(60, 11%, 91%) !important;
  }
}

.random-pic-headphones {
  width: 8rem;
  transform: rotate(20deg);
  bottom: -5rem;
  left: -16rem;
  position: absolute;
  z-index: 10;
  opacity: 0.8;
}
@media (max-width: 56.25em) {
  .random-pic-headphones {
    left: -11rem;
    opacity: 0.6;
  }
}
@media (max-width: 45.6em) {
  .random-pic-headphones {
    left: -10rem;
    opacity: 0.5;
  }
}

.random-pic-arrowup {
  width: 5rem;
  transform: rotate(150deg);
  position: absolute;
  z-index: 10;
  left: 30%;
  top: 0;
}

.random-pic-party {
  width: 3rem;
}

.random-pic-smoke {
  position: absolute;
  max-width: 30rem;
  z-index: 0;
  right: 2%;
  bottom: 18%;
}

@font-face {
  font-family: "Giliams Regular";
  font-style: normal;
  font-weight: bold;
  src: local("Giliams Regular"), url("../Fonts/Giliams-Regular.woff") format("woff");
}
@font-face {
  font-family: "Raindrops";
  src: local("Raindrops"), url(../Fonts/Raindrops.ttf) format("truetype");
}
.blob-section {
  max-width: 250rem;
  margin: 0 auto;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
@media (max-width: 45.6em) {
  .blob-section {
    justify-content: space-between;
  }
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.blob-btn h2 {
  background: #413042;
  font-size: 2.4rem;
  margin-bottom: 0;
  line-height: 1;
  font-family: "Orbitron";
  text-transform: uppercase;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 56.25em) {
  .blob-btn h2 {
    font-size: 3rem;
  }
}
.blob-btn {
  z-index: 1;
  position: relative;
  padding: 12px 25px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #ffa399;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .blob-btn {
    padding: 15px 30px;
  }
}
@media (max-width: 37.5em) {
  .blob-btn {
    padding: 20px 46px;
  }
}
.blob-btn:hover {
  color: #222;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: solid 2px #2a4545;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  background: #413042;
  position: absolute;
  top: -1px;
  width: 25%;
  height: 100%;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.5);
  }
}

.appointment-modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.79);
  transform: scale(0.5);
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  overflow: hidden;
  height: inherit;
}
.appointment-modal__content {
  width: auto;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 2rem 0.5rem 1rem 3rem;
  border-radius: 0.25rem;
  transition: 0.4s;
  top: 0;
  overflow-x: auto;
}
@media (max-width: 37.5em) {
  .appointment-modal__content {
    padding: 0 0.5rem 4rem 1.25rem;
    bottom: 0;
    width: 100%;
  }
}
.appointment-modal__close {
  position: absolute;
  font-size: 3rem;
  cursor: pointer;
  bottom: 35px;
  left: 50%;
}
.appointment-modal__close:before {
  color: #fcfbfe;
}
@media (max-width: 56.25em) {
  .appointment-modal__close {
    bottom: 30px;
    left: 50%;
  }
}
@media (max-width: 45.6em) {
  .appointment-modal__close {
    bottom: 35px;
    left: 50%;
  }
}
@media (min-width: 112.5em) {
  .appointment-modal__close {
    right: 0;
    top: 0;
  }
}

.active-modal {
  opacity: 1;
  height: 100vh;
  visibility: visible;
  overflow: hidden;
  z-index: 200;
  width: 100%;
  transform: scale(1);
}

.responsive-iframe-container {
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
  padding-top: 30px; /* Adjust as needed for any header/controls */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  transform: scale(0.8);
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact-modal__close {
  position: absolute;
  bottom: 4%;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
}
.contact-modal__close:before {
  color: #413042;
}
@media (max-width: 56.25em) {
  .contact-modal__close {
    bottom: -27px;
  }
}
@media (max-width: 45.6em) {
  .contact-modal__close {
    bottom: -25%;
    left: 50%;
  }
}

.form {
  text-align: left;
}
.form__group:not(:last-child) {
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}
.form__input {
  font-family: "Cansu-light", sans-serif;
  font-size: 2.08rem;
  padding: 1rem 1.4rem;
  color: rgb(63, 61, 61);
  background-color: #f8f8f8;
  border-bottom: 1px solid rgba(83, 83, 105, 0.4588235294) !important;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  box-shadow: 0 1px 0 1px rgba(54, 54, 54, 0.8);
}
.form__input::-webkit-input-placeholder {
  color: rgba(38, 38, 48, 0.4901960784);
  font-weight: 400;
}
.form__input:focus {
  border-bottom: 3px solid aqua;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(23, 23, 23, 0.2);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #55023c;
}
.form__label {
  font-size: 1.4rem;
  font-family: "Gill Sans" cursive;
  color: hsla(334, 11%, 71%, 0.885);
  font-style: italic;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: 1rem;
  display: block;
  transition: all 0s;
}
.form__input:placeholder-shown .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.btn,
.btn:link,
.btn:visited {
  font-family: "Cansu-rounded", sans-serif !important;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 2.08rem;
  letter-spacing: 0.2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(23, 23, 23, 0.2);
}

.btn__form {
  font-size: 2.08rem !important;
  font-family: "Cansu-rounded", sans-serif !important;
}
.btn__form::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: translateX(1.4) scaleY(1.6);
  opacity: 0;
}

.section-home {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: hsl(60, 11%, 91%);
  text-align: center;
}
.section-home__text-box {
  background: transparent;
  opacity: 1;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  padding-top: 0;
}
@media (max-width: 56.25em) {
  .section-home__text-box {
    height: 70vh;
    padding-top: 0;
  }
}
@media (max-width: 45.6em) {
  .section-home__text-box {
    padding-top: 0;
  }
}
.section-home-logo {
  padding: 2rem;
  display: inline-block;
  text-align: center;
}
.section-home-logo img {
  width: 10%;
}
@media (max-width: 56.25em) {
  .section-home {
    padding-top: 21%;
  }
}
.section-home::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  bottom: 228px;
  left: 100px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgb(240, 208, 255) 7%, rgb(225, 206, 255) 47%, rgb(246, 166, 197) 77%, rgb(241, 163, 171) 100%); /* Your gradient colors */
  border-radius: inherit; /* Inherit border-radius from parent */
  filter: blur(50px); /* Adjust blur for shadow effect */
  z-index: 100; /* Position behind the main element */
  transform: translate(5px, 5px); /* Optional: Adjust shadow offset */
}

.heading-primary {
  height: 100%;
  display: flex;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 112.5em) {
  .heading-primary {
    height: 100%;
  }
}
@media (max-width: 75em) {
  .heading-primary {
    align-items: center;
  }
}
@media (max-width: 56.25em) {
  .heading-primary {
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 37.5em) {
  .heading-primary {
    height: 90%;
  }
}

.logo {
  width: 100%;
  position: fixed;
  top: 4rem;
  text-align: center;
}

.section-bio {
  height: auto;
  background: transparent;
  padding-top: 10rem;
  margin: 0 auto;
  background: linear-gradient(to right bottom, rgba(235, 235, 230, 0.98) 7%, rgba(221, 212, 216, 0.5) 47%, rgb(225, 206, 255) 100%, rgb(210, 159, 150) 100%);
  background-blend-mode: lighten;
}
@media (max-width: 37.5em) {
  .section-bio {
    padding: 5rem 0rem;
  }
}
.section-bio-container {
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .section-bio-container {
    max-width: 95%;
    margin-bottom: 0;
    padding-top: 4rem;
  }
}
@media (max-width: 45.6em) {
  .section-bio-container {
    padding: 0;
    max-height: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 37.5em) {
  .section-bio-container {
    max-height: 100%;
    max-width: 100%;
  }
}
.section-bio__text {
  height: auto;
  flex-basis: 25%;
  border-radius: 10px;
  align-self: center;
  padding-top: 7rem;
}
.section-bio__text .section-bio2_blurredimage--top {
  position: absolute;
}
@media (max-width: 56.25em) {
  .section-bio__text .section-bio2_blurredimage--top {
    top: 10%;
    left: 0;
    width: 100%;
    transform: skewY(176deg);
  }
}
@media (min-width: 112.5em) {
  .section-bio__text {
    flex-basis: 25%;
  }
}
@media (max-width: 75em) {
  .section-bio__text {
    flex-basis: 30%;
  }
}
@media (max-width: 56.25em) {
  .section-bio__text {
    padding-top: 0;
    flex-basis: 80%;
  }
}
@media (max-width: 37.5em) {
  .section-bio__text {
    padding-top: 3rem;
    flex-basis: 90%;
  }
}
.section-bio__p {
  display: grid;
  justify-content: space-between;
  padding-bottom: 10rem;
  color: #413042;
  grid-auto-flow: row;
  position: relative;
  z-index: 10;
}
@media (max-width: 56.25em) {
  .section-bio__p {
    padding-bottom: 1rem;
    justify-content: stretch;
  }
}
@media (max-width: 45.6em) {
  .section-bio__p {
    margin-bottom: 2rem;
  }
}
.section-bio__p2 {
  display: grid;
  justify-content: stretch;
  padding-bottom: 7rem;
  color: #363636;
  grid-auto-flow: row;
}
@media (max-width: 56.25em) {
  .section-bio__p2 {
    padding-bottom: 4rem;
  }
}
@media (max-width: 37.5em) {
  .section-bio__p2 {
    padding-bottom: 3rem;
  }
}
.section-bio__img,
.section-bio .flex-item {
  flex-basis: 20%;
  text-align: center;
  padding: 2rem;
}
@media (min-width: 112.5em) {
  .section-bio__img,
  .section-bio .flex-item {
    flex-basis: 20%;
    margin-top: -15rem;
  }
}
@media (max-width: 75em) {
  .section-bio__img,
  .section-bio .flex-item {
    flex-basis: 30%;
    margin-top: 5rem;
  }
}
@media (max-width: 56.25em) {
  .section-bio__img,
  .section-bio .flex-item {
    flex-basis: 80%;
    margin-top: 10rem;
  }
}
@media (max-width: 45.6em) {
  .section-bio__img,
  .section-bio .flex-item {
    flex-basis: 80%;
    margin-top: 5rem;
  }
}
@media (max-width: 37.5em) {
  .section-bio__img,
  .section-bio .flex-item {
    flex-basis: 100%;
  }
}
@media (max-width: 75em) {
  .section-bio__img {
    margin-top: -5rem;
  }
}
.section-bio_img {
  border-top-right-radius: 125px;
  mix-blend-mode: darken;
  height: fit-content;
  width: 90%;
}
@media (max-width: 75em) {
  .section-bio_img {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .section-bio_img {
    width: 70%;
  }
}
@media (max-width: 45.6em) {
  .section-bio_img {
    border-top-right-radius: 143px;
    width: 80%;
  }
}
@media (max-width: 37.5em) {
  .section-bio_img {
    object-fit: cover;
  }
}
.section-bio .section-bio-about__img {
  height: 100%;
  transform: translateX(0);
  backface-visibility: hidden;
}
@media (max-width: 56.25em) {
  .section-bio .section-bio-about__img {
    transform: translate(0, 0);
  }
}
@media (max-width: 37.5em) {
  .section-bio .section-bio-about__img {
    transform: translate(-2rem, 0);
  }
}

.section-bio2 {
  background-color: hsl(60, 11%, 91%);
  height: auto;
}
.section-bio2 .flex-container {
  align-content: flex-start;
}
.section-bio2 .flex-container .section-bio__img {
  padding-top: 0;
}
@media (max-width: 75em) {
  .section-bio2 .flex-container .section-bio__span2 {
    text-align: justify;
  }
}
@media (max-width: 56.25em) {
  .section-bio2 .flex-container .section-bio__span2 {
    text-align: center;
  }
}
@media (max-width: 56.25em) {
  .section-bio2 {
    padding-top: 10rem;
  }
}
@media (max-width: 37.5em) {
  .section-bio2 {
    height: auto;
  }
}

.music-container {
  visibility: hidden;
  display: flex;
  padding: 0 4px;
  margin: 0 auto;
  width: 45%;
  height: 30rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -20px;
  border-top: 0.5px solid hsl(278, 56%, 73%);
  left: 0;
  z-index: 150;
  background-image: linear-gradient(to right bottom, rgb(240, 208, 255) 7%, rgb(225, 206, 255) 47%, rgb(246, 166, 197) 77%, rgb(241, 163, 171) 100%);
}
@media (max-width: 56.25em) {
  .music-container {
    margin: 1rem auto;
    height: 30rem;
  }
}
@media (max-width: 45.6em) {
  .music-container {
    margin: 2rem auto;
    width: 100%;
    height: 40rem;
  }
}
@media (max-width: 37.5em) {
  .music-container {
    width: 100%;
    justify-content: space-around;
  }
}
.music-container_blurredimage--top {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -20px;
  opacity: 0.7;
}
.music-container_blurredimage--bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  bottom: -150px;
  opacity: 0.85;
}

.img-container {
  display: none;
  width: 50px;
  position: relative;
  text-align: center;
}
@media (max-width: 45.6em) {
  .img-container {
    width: 50px;
  }
}
@media (max-width: 37.5em) {
  .img-container {
    width: 40px;
  }
}

.img-container img {
  width: inherit;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: -45%;
  left: 0;
  visibility: hidden;
}
@media (max-width: 37.5em) {
  .img-container img {
    height: 40px;
  }
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.player__close {
  position: absolute;
  font-size: 3rem;
  right: 2rem;
  top: 1.5rem;
  cursor: pointer;
  z-index: 100;
}
.player__close:hover {
  color: hsla(334, 11%, 71%, 0.885);
}

.section-news {
  margin-top: 0;
  background: hsl(60, 11%, 91%);
  padding-top: 15rem;
  padding-bottom: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-news__title {
  padding: 2rem;
  margin-bottom: 6rem;
  text-align: center;
}

.panel-1 {
  background-image: url(../Img/germanyElmira.jpg);
}

.panel-2 {
  background-image: url(../Img/MiniPlayElmira.jpg);
}

.panel-3 {
  background-image: url(../Img/visheNeba.jpg);
}

.panel-4 {
  background-image: url(../Img/indiaLiza.jpg);
}

.panel-5 {
  background-image: url(../Img/germanyLiza.jpg);
}

.panel-6 {
  background-image: url(../Img/Petersburg_21.png);
}

.panel-7 {
  background-image: url(../Img/Liza_2023.png);
}

.panels {
  height: auto;
  overflow: hidden;
  display: flex;
  width: 100%;
  padding: 2rem;
}
@media (max-width: 56.25em) {
  .panels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}
@media (max-width: 45.6em) {
  .panels {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}
@media (max-width: 37.5em) {
  .panels {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}

.panel {
  text-align: center;
  align-items: center;
  transition: font-size 0.4s cubic-bezier(0.61, -0.19, 0.7 -0.11), flex 0.4s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.1s;
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 1.3rem;
}
@media (max-width: 37.5em) {
  .panel {
    max-width: 10rem;
  }
}
@media (max-width: 56.25em) {
  .panel {
    max-height: 80rem;
    width: 80%;
    background-size: contain;
  }
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.7s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p:nth-child(2) {
  font-size: 3rem;
}

.panel.open {
  font-size: 4rem;
  flex: 5;
  filter: hue-rotate(0deg);
}

.carousel-indicators {
  z-index: 250 !important;
}
.carousel-indicators > button {
  height: 2px !important;
}
@media (max-width: 56.25em) {
  .carousel-indicators > button {
    width: 7% !important;
  }
}
@media (max-width: 45.6em) {
  .carousel-indicators > button {
    width: 16% !important;
  }
}

.carousel {
  height: 100% !important;
  margin: 0 auto !important;
  z-index: 0 !important;
}
.carousel > button {
  z-index: 150 !important;
}

.carousel-item {
  float: none !important;
  transform: translateX(0) !important;
  transition: transform 0.4s !important;
}

.carousel-caption {
  top: -15rem;
  transform: translateX(0) !important;
}

.carousel-inner {
  overflow: visible !important;
  max-width: 300px !important;
}
@media (max-width: 75em) {
  .carousel-inner {
    max-width: 300px !important;
  }
}
@media (max-width: 56.25em) {
  .carousel-inner {
    max-width: 330px !important;
  }
}
@media (max-width: 37.5em) {
  .carousel-inner {
    width: auto !important;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(1) grayscale(3) !important;
}

.section-lessons {
  height: fit-content;
  position: relative;
  padding-top: 15rem;
  background-color: hsl(60, 11%, 91%);
}
@media (max-width: 56.25em) {
  .section-lessons {
    text-align: center;
  }
}
@media (max-width: 45.6em) {
  .section-lessons {
    padding-top: 10rem;
    text-align: center;
  }
}
.section-lessons-sub__p {
  margin: 0 auto;
  padding: 3rem;
  background-color: hsl(60, 11%, 91%);
  width: 30%;
}
@media (min-width: 112.5em) {
  .section-lessons-sub__p {
    margin-right: 5px;
    margin: -2rem auto;
  }
}
@media (max-width: 75em) {
  .section-lessons-sub__p {
    width: 40%;
  }
}
@media (max-width: 56.25em) {
  .section-lessons-sub__p {
    margin: 0;
    width: 50%;
  }
}
@media (max-width: 45.6em) {
  .section-lessons-sub__p {
    width: 70%;
  }
}
@media (max-width: 37.5em) {
  .section-lessons-sub__p {
    width: 100%;
  }
}

.container-lessons {
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 100%;
}
.container-lessons .flex-container {
  background-color: hsl(60, 11%, 91%);
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: flex-start;
  width: 100vw;
}
@media (max-width: 56.25em) {
  .container-lessons {
    background-size: contain;
  }
}
@media (max-width: 37.5em) {
  .container-lessons {
    background-size: cover;
  }
}
@media (max-width: 75em) {
  .container-lessons {
    text-align: center;
  }
}

.section-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 5rem 0;
  background-color: hsl(60, 11%, 91%);
}
.section-contact_blurredimage--bottom {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
  transform: skewY(176deg);
}
@media (max-width: 75em) {
  .section-contact_blurredimage--bottom {
    display: none;
  }
}
@media (max-width: 56.25em) {
  .section-contact_blurredimage--bottom {
    display: none;
  }
}
@media (max-width: 45.6em) {
  .section-contact_blurredimage--bottom {
    top: 29%;
  }
}
.section-contact_mail {
  width: 80%;
  font-size: 2.08rem;
}
.section-contact_mail h3 {
  font-family: "Cansu-raunded", sans-serif;
  display: inline-block;
  margin-left: 2rem;
  color: #413042;
  text-shadow: 1px 1px 2px white;
  font-size: 1.4rem;
}
@media (max-width: 45.6em) {
  .section-contact_mail h3 {
    font-size: 1.6rem;
  }
}
.section-contact_mail h3:hover {
  color: #af4665;
}
.section-contact_socials {
  width: 85%;
  font-size: 2.08rem;
}
.section-contact_socials a h3 {
  font-family: "Cansu-raunded", sans-serif;
  display: inline-block;
  color: #413042;
  text-shadow: 1px 1px 2px white;
  font-size: 1.4rem;
}
@media (max-width: 45.6em) {
  .section-contact_socials a h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 45.6em) {
  .section-contact_socials {
    width: 93%;
  }
}
.section-contact_socials a h3:hover {
  color: #af4665;
}
@media (max-width: 45.6em) {
  .section-contact {
    padding-top: 25%;
    padding-bottom: 5rem;
  }
}

.wrapper {
  margin: 0 auto;
  height: 100%;
  width: 30%;
  padding-top: 3rem;
}
@media (max-width: 75em) {
  .wrapper {
    width: 50%;
    text-align: left;
  }
}
@media (max-width: 37.5em) {
  .wrapper {
    width: 80%;
  }
}

.book {
  visibility: hidden;
  width: 35%;
  height: auto;
  background-size: cover;
  position: absolute;
  top: 10%;
  left: 0;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 1.5rem 4rem rgba(23, 23, 23, 0.3);
  background-position: right;
}
@media (min-width: 112.5em) {
  .book {
    width: 25%;
  }
}
@media (max-width: 75em) {
  .book {
    width: 50%;
  }
}
@media (max-width: 56.25em) {
  .book {
    width: 60%;
  }
}
@media (max-width: 45.6em) {
  .book {
    width: 100%;
  }
}
.book__form {
  width: 100%;
  min-width: 33rem;
  padding: 2rem;
  background-color: white;
}

.appointment-modal__content {
  padding: 0.5rem 0.5rem 8rem 0.5rem;
}
@media (max-width: 56.25em) {
  .appointment-modal__content {
    width: 100%;
  }
}

.wrapper {
  height: 35%;
  position: relative;
  z-index: 100;
}

.mail {
  margin-top: 5rem;
}

.socials {
  margin-top: 5rem;
}

.active {
  visibility: visible;
  z-index: 150;
}

.testimonial {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  background-color: #f8f8f8;
  position: relative;
}
.testimonial__container {
  margin: 0 auto;
}

footer {
  padding-top: 0;
  width: 100vw;
}
@media (max-width: 45.6em) {
  footer {
    display: none;
  }
}

.footer__container {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 45.6em) {
  .footer__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
.footer__bg {
  padding: 2rem 0 3rem;
  background-color: hsl(60, 11%, 91%);
  border-top: 1px solid hsl(60, 11%, 91%);
}
.footer__bg::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 100%;
  height: 300px;
  background: radial-gradient(at 6% 18%, hsl(166, 61%, 78%) 0px, transparent 5%), radial-gradient(at 12% 76%, hsl(55, 70%, 79%) 0px, transparent 5%), radial-gradient(at 7% 15%, hsl(222, 73%, 62%) 0px, transparent 5%), radial-gradient(at 10% 48%, hsl(262, 62%, 77%) 0px, transparent 5%), radial-gradient(at 90% 22%, hsl(353, 84%, 67%) 0px, transparent 5%), radial-gradient(at 43% 83%, hsl(232, 63%, 69%) 0px, transparent 5%), radial-gradient(at 88% 94%, hsl(339, 73%, 67%) 0px, transparent 5%); /* Your gradient colors */
  border-radius: inherit; /* Inherit border-radius from parent */
  filter: blur(20px); /* Adjust blur for shadow effect */
  z-index: 1; /* Position behind the main element */
  transform: translate(5px, 5px); /* Optional: Adjust shadow offset */
}
@media (max-width: 56.25em) {
  .footer__bg::before {
    display: none;
  }
}
.footer__logo {
  font-size: 3rem;
  width: 10rem;
  filter: sepia(90%);
}
.footer__copy {
  font-size: 1.3rem;
  text-align: center;
  color: hsl(60, 11%, 91%);
  margin-top: 3rem;
}
.footer__subtitle, .footer__link, .footer__social {
  color: #413042;
  font-family: "Cansu-regular", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.footer__socials:hover {
  color: yellow;
}
.footer-social-icon {
  font-size: 2.4rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  list-style: none;
  cursor: pointer;
  padding-left: 0;
}
@media (max-width: 45.6em) {
  .footer__links {
    row-gap: 1rem;
  }
}
.footer__socials {
  margin-right: 1.5rem;
  width: 100%;
  text-align: right;
}
@media (max-width: 37.5em) {
  .footer__socials {
    text-align: center;
  }
}
.footer__link:hover {
  color: #2a4545;
}
.footer__left {
  width: 100%;
}
@media (max-width: 37.5em) {
  .footer__left {
    text-align: center;
  }
}

.section-expertise {
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 5rem;
  background-color: hsl(60, 11%, 91%);
}
.section-expertise .flex-container {
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .section-expertise .flex-container {
    justify-content: center;
    align-content: center;
  }
}
@media (max-width: 56.25em) {
  .section-expertise {
    padding-top: 1rem;
  }
}

.section-QA {
  background-color: hsl(60, 11%, 91%);
  padding-top: 2rem;
  padding-bottom: 10rem;
}
.section-QA .row .flex-container {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 75em) {
  .section-QA .row .flex-container {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .section-QA .row .flex-container {
    width: 90%;
  }
}
@media (max-width: 45.6em) {
  .section-QA .row .flex-container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
