.contact-modal {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  transform: scale(0.5);
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  overflow: hidden;
  height: inherit;
 

  &__content {
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
    // background-color: $color-blue;
    padding: 2rem .5rem 1rem 3rem;
    border-radius: .25rem;
    transition: 0.4s;
    top: 0;
    overflow-x: auto;
    @include respond(phone) {
      padding: 0 .5rem 4rem 1.25rem;
      bottom: 0;
      width: 100%;
    }
  }

  &__close {
    position: absolute;
    bottom: 4%;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    

    &:before {
      color: $color-blue;
    }
    @include respond(tab-port){
      bottom: -27px;
    }
    @include respond(phoneExtra) {
      // top: initial;
      bottom: -25%;
      left: 50%;
    }
  }
}

.active-modal {
  opacity: 1;
  height: 69%;
  visibility: visible;
  overflow: hidden;
  z-index: 200;
  width: 100%;
  transform: scale(1);
}

   