
@font-face{
  
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
  src: local('Hachi Maru Pop'), url('./fonts/HachiMaruPop-Regular.ttf') format('truetype');

}

@font-face {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  src: local('Lexend'),url('./fonts/Lexend/Lexend-VariableFont_wght.ttf');
}