
@font-face{
  
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
  src: local('Hachi Maru Pop'), url('./fonts/HachiMaruPop-Regular.ttf') format('truetype');

}
@font-face {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   src: local('Inclusive Sans'), url('./fonts/InclusiveSans-VariableFont_wght.ttf') format('truetype');
}