.section-lessons {
  height: fit-content;
  position: relative;
  // box-shadow: 0 1.5rem 4rem rgba(23, 23, 23, 0.5);
  padding-top: 10rem;
  background-image: url('../img/musical-bg.svg');
  
  @include respond(tab-port){
    text-align: center;
  }
  @include respond(phoneExtra){
   padding-top: 10rem;
   text-align: center;
  }
  //   .flex-container {
  //   position: absolute;
  //   transform: translateX(-50%) translateY(95%);
  //   left: 50%;
  //   z-index: 10;
  //   align-content: space-evenly;
  //   width: 100vw;
  //   // @include respond(phone){
     
  //   // }
  //   @include respond(tab-port){
  //      transform: translateX(-50%) translateY(80%);
  //   }
  // }

  &-sub__p {
    
    margin: 0 auto;
    padding: 3rem;
    // background-color:$color-white;
    width: 30%;
    
    
    @include respond(desktop) {
      margin-right: 5px;
      margin: -2rem auto;
    }
    @include respond(tab-land){
      width: 40%;
    }
    @include respond(tab-port) {
      margin:0;
      width: 50%;
    }
    
    @include respond(phoneExtra) {
      width:70%;
    }  
    @include respond(phone){
      width: 100%;
    }
  }
 
    
}
.container-lessons{
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 100%;
  
  
 

 
   .flex-container {
    background-color:transparent;
    // z-index: 10;
    display: flex;
    flex-direction:column;
    align-content: space-evenly;
    justify-content: flex-start;
    width: 100vw;
   
    // @include respond(phone){
     
    // }
    @include respond(tab-port){
      //  transform: translateX(-50%) translateY(0);
    }
  }
  @include respond(tab-port){
    // height: 55rem;
    background-size: contain;
  }
 
  @include respond(phoneExtra){
  
    // background-size: auto;
    // background-position: 55% 20%;
    // height: 100%;
    
  }
  @include respond(phone){
    // height: 75rem;
    background-size: cover;
     
   
  }

  @include respond(tab-land){
   text-align: center;
  }
}